<h3><%= l(:label_qq_connect) %></h3>
<p>
  <%= label_tag('settings_qq_connect_enabled', l(:enable, scope: [:redmine_social_sign_in])) %>
  <%= check_box_tag('settings[qq_connect_enabled]', '1', @settings['qq_connect_enabled'] == '1') %>
</p>

<p>
  <%= label_tag('settings_qq_connect_app_id', l(:app_id, scope: [:redmine_social_sign_in])) %>
  <%= text_field_tag 'settings[qq_connect_app_id]', @settings['qq_connect_app_id'] %>
</p>

<p>
  <%= label_tag('settings_qq_connect_app_secret', l(:app_secret, scope: [:redmine_social_sign_in])) %>
  <%= text_field_tag 'settings[qq_connect_app_secret]', @settings['qq_connect_app_secret'] %>
</p>