<h3><%= l(:label_wechat) %></h3>
<p>
  <%= label_tag('settings_wechat_enabled', l(:enable, scope: [:redmine_social_sign_in])) %>
  <%= check_box_tag('settings[wechat_enabled]', '1', @settings['wechat_enabled'] == '1') %>
</p>

<p>
  <%= label_tag('settings_wechat_app_id', l(:app_id, scope: [:redmine_social_sign_in])) %>
  <%= text_field_tag 'settings[wechat_app_id]', @settings['wechat_app_id'] %>
</p>

<p>
  <%= label_tag('settings_wechat_app_secret', l(:app_secret, scope: [:redmine_social_sign_in])) %>
  <%= text_field_tag 'settings[wechat_app_secret]', @settings['wechat_app_secret'] %>
</p>

<h4><%= l(:label_provider_help) %></h4>

<p>
  TODO

<li>Fill "Authorized redirect URIs"
  with <%= text_field_tag '', "#{Setting.protocol}://#{Setting.host_name}/social_sign_in/wechat/callback", size: 50 %></li>

</p>